page-map {
  .indexContent{
    /*margin-top: 3.2rem;*/
    /*max-height: 700px;*/
    overflow-y: scroll;
  }

  .Mainmap{
    width:100%;
    /*height:20rem;*/
    /*max-height:20rem;*/
    height:expression(document.body.clientWidth>20rem?"20rem":"auto");
    position: relative;
  }

  .mapindex{
    //position: relative;
    height: 620px;
  }


  .clickmask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background: url(../../assets/imgs/loadingssss.gif) no-repeat rgba(0, 0, 0, 0.5);
    background-size: 30px 30px;
    background-position: center center;
    filter: alpha(opacity=50);
  }


  .indexConDetail{
    height:5rem;
    margin: 1rem 1.6rem;
  }

  .parktitle{
    color:#39393a;
    font-size:0.9rem;
  }
  .parkcom{
    font-size: 0.6rem;
    color:#898989;
    margin-top: 0.5rem;
  }

  .carNum{
    color:#393939;
  }

  .carNums{
    color:#F2818F !important;
  }

  .parkInfo{
    position: absolute;
    bottom: 0;
    background: #ffffff;
    width: 100%;
    margin: 0;
    padding:5px 10px;
  }

}
