.disil{
  display: inline-block !important;
}
.dsb{
  display: block;
}
.disn{
  display: none;
}
.overflow{
  overflow: hidden;
}
.tc{
  text-align: center
}
.lf{
  float: left;
}
.rg{
  float: right;
}


.amap-toolbar.amap-touch-toolbar{
  top:25px !important;
  bottom:auto !important;
}

/************悬浮图标s**************/
.fixedicon{
  width:4.4rem;
  height:4.4rem;
  background:url("../assets/imgs/iconAll.png") no-repeat;
  position: fixed;
  bottom:5%;
  right:5%;
  z-index: 1000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 4px 7px 0 rgba(74,144,226,0.50);
  -webkit-box-shadow: 0 4px 7px 0 rgba(74,144,226,0.50);
  -moz-box-shadow: 0 4px 7px 0 rgba(74,144,226,0.50);
  -o-box-shadow: 0 4px 7px 0 rgba(74,144,226,0.50);
}
.fixMap{
  background-position: 0px 0px;
}
.fixReturn{
  background-position: -400px 0px;
}
.fixAdd{
  background-position: 0px -100px;
}

.GDicon{
  width:4.4rem;
  height:4.4rem;
  background:url("../assets/imgs/iconAll.png") no-repeat;
  background-position: -100px 0px;
  position: absolute;
  bottom:2%;
  right:5%;
  z-index: 1000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 4px 7px 0 rgba(74,144,226,0.50);
  -webkit-box-shadow: 0 4px 7px 0 rgba(74,144,226,0.50);
  -moz-box-shadow: 0 4px 7px 0 rgba(74,144,226,0.50);
  -o-box-shadow: 0 4px 7px 0 rgba(74,144,226,0.50);
}
.SecreturnIcon{
  width:4.4rem;
  height:4.4rem;
  background:url("../assets/imgs/iconAll.png") no-repeat;
  background-position: -400px 0px;
  position: absolute;
  bottom:2%;
  right:5%;
  z-index: 1000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 4px 7px 0 rgba(74,144,226,0.50);
  -webkit-box-shadow: 0 4px 7px 0 rgba(74,144,226,0.50);
  -moz-box-shadow: 0 4px 7px 0 rgba(74,144,226,0.50);
  -o-box-shadow: 0 4px 7px 0 rgba(74,144,226,0.50);
}
.RefreshIcon{
  width:3rem;
  height:3rem;
  background:url("../assets/imgs/iconAll.png") no-repeat;
  background-position: -200px 0px;
  position: absolute;
  top:15%;
  left:5%;
  z-index: 1000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 4px 7px 0 rgba(74,144,226,0.50);
  -webkit-box-shadow: 0 4px 7px 0 rgba(74,144,226,0.50);
  -moz-box-shadow: 0 4px 7px 0 rgba(74,144,226,0.50);
  -o-box-shadow: 0 4px 7px 0 rgba(74,144,226,0.50);
}
.TipsIcon{
  width:3rem;
  height:3rem;
  background:url("../assets/imgs/iconAll.png") no-repeat;
  background-position: -300px 0px;
  position: absolute;
  top:5%;
  left:5%;
  z-index: 1000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 4px 7px 0 rgba(74,144,226,0.50);
  -webkit-box-shadow: 0 4px 7px 0 rgba(74,144,226,0.50);
  -moz-box-shadow: 0 4px 7px 0 rgba(74,144,226,0.50);
  -o-box-shadow: 0 4px 7px 0 rgba(74,144,226,0.50);
}
/***************************/
.TipsCont{
  background: rgba(133,182,236,.8);
  font-size: 0.6rem;
  color:#fff;
  width:70%;
  height:1rem;
  line-height: 1rem;
  /*padding:0.25rem;*/
  /*display: inline-block;*/
  position: absolute;
  top:6%;
  left:9%;
  z-index: 100;
  text-align: center;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;

}

